
@import mixin

body
  background-color: #272727

.container
  width: 548px
  margin: 54px auto
  position: relative

.docker
  width: 342px
  margin-left: 32px
  float: left

header
  overflow: hidden
  h2
    display: block
    width: 248px
    float: right
    text-align: right
    padding: 15px 43px
    text-transform: uppercase
    background-color: #ffffff
    height: 50px
    margin-top: 127px
    font-size: 24px
    font-family: 'Montserrat', arial
    +border-radius(0 3px 3px 0)

  img
    position: absolute
    left: 0
    top: 0
    z-index: 1
